#general{
    padding: 5vh;
}

#headerEs{
    background-color:white;
    color: black;
}
#headerEn{
    background-color:black;
    color: white;
}

#tabla {
    width: 70%;
  }

  
#detalle {
    width: 30%;
    height: 1vh;
  }

#imagen{
    height: 70vh;
}